
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body{
background-color: rgb(29, 27, 27);
position: relative;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;
height: auto;

}

.calculator{
  font-family: 'Secular One', sans-serif;  display: flex;
  flex-direction: column;
  height: 50%;
  width : 50%;
  margin-top: 4em;
  margin-left: 25%;
  border: 7px solid rgb(29 24 62);
  position: static;
  overflow-x: hidden;
  border-radius: 30px;
  
  
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.2), 0 6px 20px 0 rgba(83, 81, 81, 0.19);

  
}
.my-toast {
  position: fixed;
  bottom: 30px;
  right: 45%;
  z-index: 9999;
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  background: rgb(238 238 238 / 6%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #00fff36b;
  font-size: 10px;
  width: 90px;
  height: 20px;
  animation-name: example;
  animation-duration: 4s;
  justify-content: center;
}
@keyframes example {
  from {bottm: 0px;}
  to {bottom: 25%;}
}

.data{
  background-color: #1352d9;
  height: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.8em;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
}
.data div{
  padding-right: 10px;
  padding-bottom: 5px;
}
.display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  
  
}
.numbers{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 100%;
  height: 100%;
  
}
.sum{ 
  width: 200%;
  overflow: hidden;
}
.resultData{
  color:#2d2f2e;
}
button{
  height: 6rem;
  color: rgb(233, 233, 237);
  background-color: rgba(5, 4, 8, 0.17);
  font-size: large;
  border-style : outset;
  border-color: rgb(4, 1, 13);
  border-radius: 10px;
  transition: 0.4s;
  outline: none;
  appearance: none;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
button:hover {
  background-color: red;
  opacity: 1;
}
.operators{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

@media (max-width: 600px) {
  .calculator{
    
    height: 100%;
    width : 100%;
    margin-left:0px;
    margin-top: 25%;
  
    
  }
  button:hover {
    background-color: rgba(5, 4, 8, 0.17);  
  }
  .my-toast{
    left: 35%;
    
  }
  
  /* styles here will only apply when the screen width is less than 600px */
}